@model Mastermind.ViewModels.HomeVM
@{
    ViewData["Title"] = @SharedLocalizer["WelcomeToMastermind"];
}

<div id="home-page">
    <div class="row mb-4">
        <div class="col-12">
            <img src="~/img/mastermind-banner.png" alt="Mastermind" class="img-fluid" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a id="rules"></a>
            <h3>@SharedLocalizer["GameRules"]</h3>
            <p>
                @SharedLocalizer["GameRulesDescription",@Model.NbColors, @Model.NbAttempts]
            </p>

            <h3>@SharedLocalizer["StartNewGame"]</h3>
            <p>
                @SharedLocalizer["StartNewGameDescription",@Model.NbPositions]
            </p>
            <p>
                <a asp-controller="Game" asp-action="Index" class="btn btn-primary">
                    @SharedLocalizer["StartNewGame"]
                </a>
            </p>

            <h3>@SharedLocalizer["IncorrectCombination"]</h3>
            <p>
                @SharedLocalizer["IncorrectCombinationDescription"]
            </p>
            <p>
                @SharedLocalizer["IncorrectCombinationContinuation", @Model.NbAttempts]
            </p>

            <h3>@SharedLocalizer["CorrectCombination"]</h3>
            <p>
                @SharedLocalizer["CorrectCombinationDescription"]
            </p>

            <h3>@SharedLocalizer["TipsForDecip hering"]</h3>
            <p>
                @SharedLocalizer["TipsForDecipheringDescription"]
            </p>

            <p class="rules-link">
                @SharedLocalizer["RulesInspiredBy"]
                <a href="https://www.regles-de-jeux.com/regle-du-mastermind/">https://www.regles-de-jeux.com/regle-du-mastermind/</a>
            </p>
        </div>
    </div>
</div>